.Landing {
    position: relative;
    width: 100%;
}

.Landing>div {
    width: 500px;
    height: 500px;

    margin: 5% auto 0;
    padding: 20px;

    border-radius: 20px;

    background: rgba(255, 255, 255, .6);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    z-index: 1;
}

.Landing >div div {
    display: flex;
    flex-direction: column;
}

.Landing >div .buttonContainer {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.Landing >div div button {
    padding: 7px;
    border-radius: 20px;
    border: solid black 1px;

    width: 150px;
}